*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FBFBFB;
    scroll-behavior: smooth;
    position: relative;
}

h1{
    font-size: 18px;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #36adfc;
    padding: 0 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: fixed;
}
nav a{
    text-decoration: none;
    font-family: Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #fafafa;
}
.container{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card{
    box-shadow: 0 1px 1px 0 #dbdbdb, 0 1px 1px 0 #dbdbdb, 0 1px 3px 0 #dbdbdb;
    border-radius: 2px;
}
.card-header{
    font-family: Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    background-color: #efefef;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}
.card-header p,.card-header span{
    font-family:  Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #888;
}
.input-button{
    background-color: #36adfc;
    color: #fbfbfb;
    cursor: pointer;
    transition: 0.3s;
}
.input-button:hover{
    background-color: #0877c2;
}
.delete-button{
    width: 52px;
    font-family:  Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ff0000;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.delete-button:hover{
    background-color: #ff0000;
    color: white;
}
.popup{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:  Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: 30px;
    transition: 0.3s
}
.error{
    background-color: #ff000085;
    color: white;
}
.info{
    background-color: #0e642a85;
    color: white;
}

/* LEFT PANEL */
.left{
    display: flex;
    justify-content: center;
    min-width: 320px;
    max-width: 370px;
    height: 100%;
    padding: 5px 10px;
}
.form-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 25%;
    width: 100%;
    height: 295px;;
    margin: 10px auto auto auto;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 7px;
}
form input{
    width: 100%;
    height: 30px;
    font-family: Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    padding: 5px;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin: 5px 0;
}

/* RIGHT PANEL */
.right{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 100%;
}
.result-container{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: 10px;
}
.result-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 7px;
}
.person-item{
    width: 100%;
    min-height: 80px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.person-item h2{
    width: 90%;
    font-family: Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding: 5px 0;
}
.person-item p{
    width: 100%;
    font-family: Helvetica, 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    margin-bottom: 3px;
}
.person-header{
    display: flex;
    width: 100%;
}